{% extends "././base.html" %}
{% block title %}Fizik Projesi - Sıvı Basıncı{% endblock %}

{% block content %}
    <form action="#" method="POST">
        <h1>Sıvı Basıncı Hesaplama</h1>
        <hr>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Derinlik:</span>
            </div>
            <input type="text" name="derinlik" {% if values %} value="{{ values["derinlik"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">h</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Özkütle:</span>
            </div>
            <input type="text" name="ozkutle" {% if values %} value="{{ values["ozkutle"] }}" {% endif %} tabindex="2" class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">d</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Yerçekimi İvmesi:</span>
            </div>
            <input type="text" name="ivme" {% if values %} value="{{ values["ivme"] }}" {% else %} value="9.8" {% endif %} tabindex="2" class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">g</span>
            </div>
        </div>
        {% if result %}
            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Basınç:</span>
                </div>
                <input type="text" value="{{ result }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">Pa</span>
                </div>
            </div>
        {% endif %} 
        <input type="submit" value="Hesapla" tabindex="3" class="btn btn-success btn-rounded">
    </form>
    <br>
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_hqfa0ehu.json"  background="transparent"  speed="2"  style="width: 300px; height: 300px;"  loop controls autoplay></lottie-player>

    <div class="info">
        <p>
            Durgun sıvılar içinde bulundukları kabın hem tabanına hem de yan yüzeylerine basınç uygular. 
            Sıvıların basıncının nedeni ağırlıklarıdır. Sıvı basıncının formülü şöyledir:
        </p>

        <h4><emp>P = h x d x g</emp></h4>

        <p>
            P: Basınç, h: Derinlik, d: Özkütle, g: Yerçekimi İvmesi olarak gösterilebilir.
        </p>
    </div>

{% endblock %}