{% extends "././base.html" %}
{% block title %}Fizik Hesaplamaları - Gerilim{% endblock %}

{% block content %}
    <form action="#" method="POST">
        <h1>Esneklik Potansiyel Enerjisi</h1>
        <hr>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Yay Sabiti:</span>
            </div>
            <input type="text" name="sabit" {% if values %} value="{{ values["sabit"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">k</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Yol:</span>
            </div>
            <input type="text" name="yol" {% if values %} value="{{ values["yol"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">x</span>
            </div>
        </div>
        {% if result %}
            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Esneklik Potansiyel:</span>
                </div>
                <input type="text" value="{{ result }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">Joule</span>
                </div>
            </div>
        {% endif %} 
        <input type="submit" value="Hesapla" tabindex="3" class="btn btn-success btn-rounded">
    </form>

    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_vhzxzzy9.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" controls  autoplay></lottie-player>

    <div class="info">
        <p>
            Esneklik potansiyel enerjisi, esnek cisimlerde şekil değişikliği oluşturulması sırasında depolanan enerjidir. Denge halindeki bir yay x kadar sıkıştırılırsa; yayda enerji depolanır. Depolanan enerji; 
        </p>
            <h4><emp>½×k×x²</emp></h4>
        <p>
            Yaya uygulanan kuvvet ile yayın uzama ya da sıkışma miktarı doğru orantılıdır. Yayın x kadar uzaması ya da sıkışması halinde yaydaki geri çağrıcı kuvvet F = -k.x olarak yazılır. Bu bağıntı Hooke Yasası olarak bilinir. Buradaki “k” yayın yay sabitidir. Birimi N/m dir. “ – ” işareti uzama ya da sıkışma ile yay kuvvetinin zıt yönlü olduğunu gösterir.
        </p>
    </div>

{% endblock %}