{% extends "././base.html" %} {% block title %}Fizik Hesaplamaları - Gerilim{%
endblock %} {% block content %}
<form action="#" method="POST">
    <h1>Kinetik Enerji</h1>
    <hr />
    <div class="md-form input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text md-addon font-weight-bold"
                >Kütle:</span
            >
        </div>
        <input type="text" name="kutle" {% if values %} value="{{
        values["kutle"] }}" {% endif %} class="form-control text-right"
        autocomplete="off">
        <div class="input-group-append">
            <span class="input-group-text md-addon">m</span>
        </div>
    </div>
    <div class="md-form input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text md-addon font-weight-bold">Hız:</span>
        </div>
        <input type="text" name="hiz" {% if values %} value="{{ values["hiz"]
        }}" {% endif %} class="form-control text-right" autocomplete="off">
        <div class="input-group-append">
            <span class="input-group-text md-addon">V</span>
        </div>
    </div>
    {% if result %}
    <div class="md-form input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text md-addon font-weight-bold"
                >Kinetik Enerji:</span
            >
        </div>
        <input
            type="text"
            value="{{ result }}"
            readonly="readonly"
            class="form-control text-right"
        />
        <div class="input-group-append">
            <span class="input-group-text md-addon">Joule</span>
        </div>
    </div>
    {% endif %}
    <input
        type="submit"
        value="Hesapla"
        tabindex="3"
        class="btn btn-success btn-rounded"
    />
</form>

<lottie-player
    src="https://assets7.lottiefiles.com/packages/lf20_ONfhj8.json"
    background="transparent"
    speed="1"
    style="width: 300px; height: 300px"
    controls
    autoplay
></lottie-player>

<div class="info">
    <p>
        Hareket halindeki cisimlerin sahip oldukları enerji kinetik enerjidir.
        Hareket halindeki arabaların, insanların, futbol topunun kinetik
        enerjileri vardır. Kinetik enerji cisimlerin kütlesine ve hızına
        bağlıdır.
    </p>
    
    <h4><emp>½×m×v²</emp></h4>
</div>

{% endblock %}
