{% extends "./base.html" %}
{% block title %}Fizik Projesi - Gaz Basıncı{% endblock %}

{% block content %}
    <form action="#" method="POST">
        <h1>Gaz Basıncı Hesaplama</h1>
        <hr>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Hacim:</span>
            </div>
            <input type="text" name="hacim" {% if values %} value="{{ values["hacim"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">V</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Sıcaklık:</span>
            </div>
            <input type="text" name="sicaklik" {% if values %} value="{{ values["sicaklik"] }}" {% endif %} tabindex="2" class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">T</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Tanecik Sayısı:</span>
            </div>
            <input type="text" name="tanecik" {% if values %} value="{{ values["tanecik"] }}" {% endif %} tabindex="2" class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">n</span>
            </div>
        </div>
        {% if result %}
            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Basınç:</span>
                </div>
                <input type="text" value="{{ result }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">Pa</span>
                </div>
            </div>
        {% endif %} 
        <input type="submit" value="Hesapla" tabindex="3" class="btn btn-success btn-rounded">
    </form>

{% endblock %}