{% extends "./base.html" %}
{% block title %}Fizik Projesi - Katı Basıncı{% endblock %}

{% block content %}
    <form action="#" method="POST">
        <h1>Katı Basıncı Hesaplama</h1>
        <hr>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Kuvvet:</span>
            </div>
            <input type="text" name="kuvvet" {% if values %} value="{{ values["kuvvet"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">N</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Alan:</span>
            </div>
            <input type="text" name="alan" {% if values %} value="{{ values["alan"] }}" {% endif %} tabindex="2" class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">m­²</span>
            </div>
        </div>
        {% if result %}
            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Basınç:</span>
                </div>
                <input type="text" value="{{ result }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">Pa</span>
                </div>
            </div>
        {% endif %} 
        <input type="submit" value="Hesapla" tabindex="3" class="btn btn-success btn-rounded">
    </form>

{% endblock %}