<nav class="navbar navbar-expand-lg navbar-f navbar-light bg-light">
    <div class="container-fluid">
      <a style="font-weight: bold; margin-right: 40px;" class="navbar-brand" href="{{ url_for("home") }}">Fizik Hesaplamaları</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for("home") }}">Anasayfa</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Elektriksel Hesaplama
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for("akim") }}">Akım</a></li>
              <li><a class="dropdown-item" href="{{ url_for("direnc") }}">Direnç</a></li>
              <li><a class="dropdown-item" href="{{ url_for("gerilim") }}">Gerilim</a></li>
              <li><a class="dropdown-item" href="{{ url_for("siga") }}">Sığa (I)</a></li>
              <li><a class="dropdown-item" href="{{ url_for("siga2") }}">Sığa (II)</a></li>
              <li><a class="dropdown-item" href="{{ url_for("kuvvet") }}">Kuvvet</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Enerji Hesaplama
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for("kinetik") }}">Kinetik Enerji</a></li>
              <li><a class="dropdown-item" href="{{ url_for("potansiyel") }}">Potansiyel Enerji</a></li>
              <li><a class="dropdown-item" href="{{ url_for("esneklik") }}">Esneklik Potansiyel Enerji</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Diğer
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for("dusme") }}">Serbest Düşme</a></li>
            </ul>
          </li>

          <li><a class="nav-link" href="{{ url_for("hakkinda") }}">Hakkında</a></li>

        </ul>
      </div>
    </div>
  </nav>