@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --yellow: #ffd343;
    --blue: #0cb3a7;
    --green: #198754;
}

html,body{
    overflow-x: hidden;
}
body{
    zoom: 80%;
}

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    outline: none;
    position: relative;
}


#page-container {
    position: relative;
}

#content-wrap {
    padding-bottom: 2.5rem;
    margin-bottom: 70px;
}

/*#region Footer*/
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
    background: transparent;
}

.footerContent {
    text-align: center;
    margin-left: 0;
    background: transparent;
}

.footerContent h5{
    font-size: 16px;
    padding: 0px;
    margin: 5px;
    background: transparent;
}

.footerContent a{
    text-decoration: none;
    color: var(--green);
}

.footerContent a:hover{
    color: var(--green);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
/*#endregion Footer*/


/*#region Main*/
.main{
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    display: grid;
}

.main p{
    font-size: 20px;
    padding:10px;
}

.main lottie-player{
    margin: 0 auto;
}

/*#endregion*/

/*#region Form*/
form h1{
    color: var(--green);
}

form input{
    text-align: right;
}
/*#endregion*/


#submit{
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    color: var(--blue);
    position: relative;
    right: 44px;
    top: 6px;
    cursor: pointer;
    
}

.error{
    margin: 0 auto;
    width: 600px;
}
/*#region Responsive*/
@media only screen and (max-width: 1500px){
    .footerWrap {
        background: white;
    }
}

@media only screen and (max-width: 800px){
    .main{
        padding: 60px;
        width: 430px;
    }
}

@media only screen and (max-width: 600px) {
    .main{
        padding: 40px;
        width: 430px;
    }
}

@media only screen and (max-width: 540px){
    .footerContent h5{
        font-size: 12px;
    }

    .main{
        padding: 18px;
        width: 400px;
    }

    .main p{
        font-size: 16px;

    }
}
/*#endregion Responsive*/
