{% extends "././base.html" %}
{% block title %}Fizik Hesaplamaları - Işık Akısı{% endblock %}

{% block content %}
    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_aiagjymy.json"  background="transparent"  speed="0.2"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>


    <form action="#" method="POST">
        <h1>Işık Akısı Hesaplama</h1>
        <hr>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Işık Şiddeti:</span>
            </div>
            <input type="text" name="siddet" {% if values %} value="{{ values["siddet"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">cd</span>
            </div>
        </div>
        {% if result %}
            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Işık Akısı(lm):</span>
                </div>
                <input type="text" value="{{ result }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">φ</span>
                </div>
            </div>
        {% endif %} 
        <input type="submit" value="Hesapla" tabindex="3" class="btn btn-success btn-rounded">
    </form>


    <div class="info">
        <p>
            Birim zamanda her yöne yayılan toplam ışık miktarına <emp>ışık akısı</emp> denir.
        </p>

        <p>
            Işık akısı <emp>φ (fi)</emp> sembolü ile gösterilir. SI birimi <emp>lümendir (lm)</emp>.
        </p>

        <p>
            Işık şiddeti I olan kaynağın kapalı yüzeylerde oluşturacağı ışık akısı aşağıda verilen formül ile hesaplanır.
        </p>

        <h4><emp>φ = 4 x π x I</emp></h4>
    </div>

{% endblock %}


