{% extends "././base.html" %}
{% block title %}Fizik Hesaplamaları - Ortalama Aydınlanma Şiddeti{% endblock %}

{% block content %}

<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_aiagjymy.json"  background="transparent"  speed="0.2"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>

    <form action="#" method="POST">
        <h1>Ortalama Aydınlanma Şiddeti Hesaplama</h1>
        <hr>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Yüzeydeki Akı:</span>
            </div>
            <input type="text" name="aki" {% if values %} value="{{ values["aki"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">φ</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Alan:</span>
            </div>
            <input type="text" name="alan" {% if values %} value="{{ values["alan"] }}" {% endif %} tabindex="2" class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">m­²</span>
            </div>
        </div>
        {% if result %}
            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Aydınlanma Şiddeti</span>
                </div>
                <input type="text" value="{{ result }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">lx</span>
                </div>
            </div>
        {% endif %} 
        <input type="submit" value="Hesapla" tabindex="3" class="btn btn-success btn-rounded">
    </form>


    <div class="info">
        <p>
            Aydınlanma Şiddeti birim yüzeye düşen ışık akısıdır. E sembolüyle gösterilir. SI'da birimi lüxtür (lx)
        </p>

        <p>
            Işık ışınları, yüzeye farklı açılarla gelebileceğinden yüzeydeki aydınlanma şiddeti için ancak ortalama bir değerden söz edilebilir.
            <emp>Ortalama Aydınlanma Şiddeti</emp> aşağıdaki formülle ifade edilir:
        </p>

        <h4><emp>E(ortalama) = φ / A</emp></h4>
    </div>

{% endblock %}