{% extends "././base.html" %}
{% block title %}Fizik Hesaplamaları - Gerilim{% endblock %}

{% block content %}
    <form action="#" method="POST">
        <h1>Serbest Düşme</h1>
        <hr>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">İlk Hız:</span>
            </div>
            <input type="text" name="hiz" {% if values %} value="{{ values["hiz"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">Vᵢ</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Yükseklik:</span>
            </div>
            <input type="text" name="yukseklik" {% if values %} value="{{ values["yukseklik"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">h</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Yerçekimi İvmesi:</span>
            </div>
            <input type="text" name="g" {% if values %} value="{{ values["g"] }}" {% else %} value="{{ 10 }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">g</span>
            </div>
        </div>
        {% if results %}
            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Düşme Süresi:</span>
                </div>
                <input type="text" value="{{ results['sure'] }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">t (saniye)</span>
                </div>
            </div>

            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Son Hız:</span>
                </div>
                <input type="text" value="{{ results['sonhiz'] }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">Vₛ</span>
                </div>
            </div>
        {% endif %} 
        <input type="submit" value="Hesapla" tabindex="3" class="btn btn-success btn-rounded">
    </form>

    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_cryudd1d.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" controls loop autoplay></lottie-player>

    <div class="info">
        <p>
            Hava direncinin ihmal edildiği ortamda ilk hızsız olarak bırakılan cisimler, yalnız çekim kuvveti etkisinde hareket eder. Bu harekete, serbest düşme hareketi denir.
        </p>

        <img src="{{ url_for('static', filename='images/formul.png') }}" style="width: 400px;" alt="">
        <br/>
        <img src="{{ url_for('static', filename='images/atis.gif') }}" alt="">
    </div>

{% endblock %}