{% extends 'base.html' %}
{% block title %}Fizik Projesi - Latif Yılmaz{% endblock %}

{% block content %}
    <div class="main">
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_ybiszbil.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"    autoplay></lottie-player>
        <p>
            Bu site dönem projesi için yapılmıştır. Basit fiziksel hesaplamaları sade bir arayüz sunarak yapmanızı sağlar.
        </p>

        <p>
            Yukarıdaki hesaplama türlerinden istediğinizi seçerek başlayabilirsiniz.
        </p>
    </div>
{% endblock %}