{% extends 'base.html' %}
{% block title %}Fizik Hesaplamaları - Latif Yılmaz{% endblock %}

{% block content %}
    <div class="main">
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_gb5bmwlm.json"  background="transparent"  speed="0.5"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        <p>
            Bu site dönem projesi için yapılmıştır. Basit fiziksel hesaplamaları sade bir 
            arayüz sunarak yapmanızı ve bu hesaplamalar hakkına bilgi edinmenizi sağlar.
        </p>

        <p>
            Yukarıdaki hesaplama türlerinden istediğinizi seçerek başlayabilirsiniz.
        </p>
    </div>
{% endblock %}