{% extends "././base.html" %}
{% block title %}Fizik Hesaplamaları - Akım{% endblock %}

{% block content %}
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_nNG8M6.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"    autoplay></lottie-player>

    <form action="#" method="POST">
        <h1>Akım Hesaplama</h1>
        <hr>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Gerilim:</span>
            </div>
            <input type="text" name="gerilim" {% if values %} value="{{ values["gerilim"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">V</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Direnç:</span>
            </div>
            <input type="text" name="direnc" {% if values %} value="{{ values["direnc"] }}" {% endif %} tabindex="2" class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">Ω</span>
            </div>
        </div>
        {% if result %}
            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Akım:</span>
                </div>
                <input type="text" value="{{ result }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">I</span>
                </div>
            </div>
        {% endif %} 
        <input type="submit" value="Hesapla" tabindex="3" class="btn btn-success btn-rounded">
    </form>

    <div class="info">
        <p>
            Akım ampermetre ile ölçülüyor olsa da devredeki diğer birimler olan <emp>gerilim</emp> ve <emp>direnç</emp> yoluyla da bulunabilir.
        </p>

        <p>
            Bunun için fizikteki <emp>V = i x R</emp> formülünden yararlanıyoruz. V: Gerilim, i: Akım, R: Direnç olarak gösterilebilir. 
            Bu formüle göre 3 eleman da diğer ikisi kullanılarak bulunabiliyor.
        </p>

        <p>Bizim akımı bulmak için bu formülü düzgün hale getirmemiz gerekiyor. Akımı bulmak istediğimizden i yi tek bırakacağız. Bu durumda;</p>

        <h4><emp>V/R = i</emp></h4>

        <p>formülü ortaya çıkıyor..</p>
    </div>

{% endblock %}