{% extends "././base.html" %}
{% block title %}Fizik Projesi - Gerilim{% endblock %}

{% block content %}
    <form action="#" method="POST">
        <h1>Gerilim Hesaplama</h1>
        <hr>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Direnç:</span>
            </div>
            <input type="text" name="direnc" {% if values %} value="{{ values["direnc"] }}" {% endif %} class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">Ω</span>
            </div>
        </div>
        <div class="md-form input-group mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text md-addon font-weight-bold">Akım:</span>
            </div>
            <input type="text" name="akim" {% if values %} value="{{ values["akim"] }}" {% endif %} tabindex="2" class="form-control text-right" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text md-addon">I</span>
            </div>
        </div>
        {% if result %}
            <div class="md-form input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon font-weight-bold">Gerilim:</span>
                </div>
                <input type="text" value="{{ result }}" readonly="readonly" class="form-control text-right">
                <div class="input-group-append">
                    <span class="input-group-text md-addon">V</span>
                </div>
            </div>
        {% endif %} 
        <input type="submit" value="Hesapla" tabindex="3" class="btn btn-success btn-rounded">
    </form>

{% endblock %}